extends ../shared/template
block top
	h5 Task List
	table
		tr
			th Name
			
			th: a(href="/tasks?page=#{page + ((sort > 0) ? '&sort=' + -1 : '&sort=' + 1) + ((tag) ? '&tag=' + tag: '')}") Due
			th Photo
			th Complete
			th Tags
			th Priority
		each task in tasks
			tr
				td= task.name
				td #{moment(task.due).format('MM/DD/YYYY')}
				td= task.photo
				td= task.isComplete
				td: each tag in task.tags
						.tag: a(href="/tasks?page=#{page + ((sort) ? '&sort=' + sort : '') + ((tag) ? '&tag=' + tag: '')}")= tag
				td= task.priority.name

	.paginate
		- for(var i = 1; i <= count; i++)
			a(href="/tasks?page=#{i + ((sort) ? '&sort=' + sort : '') + ((tag) ? '&tag=' + tag: '')}")= i