extends ../shared/template
block top
	h5 Task List
	table
		tr
			th Name
			//These anchor tags contain inline ternary operators to check to see if the tags are in existence
			th: a(href="/tasks?page=#{i + ((sort) ? '&sort=' + query.sort : '') + ((tag) ? '&tag=' + tag: '')}") Due
			th Photo
			th Complete
			th Tags
			th Priority
		each task in tasks
			tr
				td= task.name
				td= task.due
				td= task.photo
				td= task.isComplete
				td: each tag in task.tags
						.tag: a(href="/tasks?page=#{i + ((sort) ? '&sort=' + query.sort : '') + ((tag) ? '&tag=' + tag: '')}")= tag
				td= task.priority.name

	.paginate
		- for(var i = 1; i <= count; i++)
			a(href="/tasks?page=#{i + ((sort) ? '&sort=' + query.sort : '') + ((tag) ? '&tag=' + tag: '')}")= i